
<nav>
  <div class="nav-wrapper black ">  
    <a href="/" class="brand-logo">Barter Or Buy</a>   
    <ul class="nav-brand right">
      <li><a  href="/pages/about">About</a></li>
      <li><a  href="/pages/contact">Contact</a></li>       
    </ul>  
  </div>
</nav>